
form.contest-entity-admin-contest-entry .exposed-filters .form-item {
  margin: 0;
  padding: 0 0 5px 0;
}
form.contest-entity-admin-contest-entry .exposed-filters .form-item .form-item:last-child {
  padding-bottom: 0;
}
form.contest-entity-admin-contest-entry .exposed-filters .form-select {
  width: 14em;
}
form.contest-entity-admin-contest-entry .exposed-filters .form-text {
  width: 13.6em;
}
form.contest-entity-admin-contest-entry .exposed-filters div.description {
  margin-left: 10.85em;
}
form.contest-entity-admin-contest-entry table {
  width: 100%;
}
