
/* Reset Bootstrap stuff. */
body.bootstrap h1,
body.bootstrap .h1 {
  font-size: 24px;
  font-family: Helvetica,arial,sans-serif;
}
body.bootstrap a {
  color: #428bca;
  outline: 0;
  border: 0;
  text-decoration: none;
}
body.bootstrap a.btn {
  color: #fff;
}
body.bootstrap .alert a,
body.bootstrap .alert-danger a {
  font-weight: normal;
}
body.bootstrap .alert em {
  font-style: normal;
  font-weight: bold;
}
body.bootstrap table > thead > tr > th {
  font-weight: normal;
}
body.bootstrap table > thead > tr > th {
  border: 0;
}
body.bootstrap table > thead > tr > td.active,
body.bootstrap table > thead > tr > th.active {
  background: transparent;
}
body.bootstrap table > thead > tr > th,
body.bootstrap table > tbody > tr > th,
body.bootstrap table > tfoot > tr > th,
body.bootstrap table > thead > tr > td,
body.bootstrap table > tbody > tr > td,
body.bootstrap table > tfoot > tr > td {
  padding: 2px 8px 2px 0;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
}
body.bootstrap table > tbody > tr.cloned > td {
  padding-right: 0;
}
body.bootstrap table.table-striped > tbody > tr.scored > td {
  background: #fcf8e3;
}
body.bootstrap table.table-striped > tbody > tr.scored.final > td {
  background: #e7f4e2;
}

body.bootstrap form.contest-entity-admin-contest-entry,
body.bootstrap form.contest-entity-admin-contest-entry * {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}
body.bootstrap form.contest-entity-admin-contest-entry h2 {
  color: #999;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  font-style: italic;
  font-family: Helvetica,arial,sans-serif;
}

body.bootstrap form.contest-entity-admin-contest-entry h2.header-form {
  color: #666;
  font-weight: bold;
  font-family: Helvetica,arial,sans-serif;
}

body.bootstrap form.contest-entity-admin-contest-entry em {
  font-style: normal;
  font-weight: bold;
}
body.bootstrap form.contest-entity-admin-contest-entry strong {
  font-style: normal;
  font-weight: bold;
}
body.bootstrap form.contest-entity-admin-contest-entry small {
  font-size: 85%;
}
body.bootstrap form.contest-entity-admin-contest-entry p.small {
  font-size: 85%;
}

/* All Entries > Filters form */
body.bootstrap form.contest-entity-admin-contest-entry fieldset.filters .form-group .form-group {
  margin: 0;
}
body.bootstrap form.contest-entity-admin-contest-entry fieldset.filters label {
  text-align: left;
}
body.bootstrap form.contest-entity-admin-contest-entry fieldset.filters .form-control {
  width: 30%;
}
body.bootstrap form.contest-entity-admin-contest-entry fieldset.filters .form-actions {
  margin-bottom: 0;
  padding-left: 15px;
}
/* ??
body.bootstrap form.contest-entity-admin-contest-entry fieldset.filters .form-group:last-child {
  display: none;
}
*/
body.bootstrap table.contest-entity-admin-contest-entry-results legend {
  border: 0;
  margin: 0;
}
body.bootstrap table.contest-entity-admin-contest-entry-results h3.header-links {
  color: #999;
  font-size: 12px;
  margin: 0 0 .65em 0;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-family: Helvetica,arial,sans-serif;
  letter-spacing: 1px;
}
body.bootstrap table.contest-entity-admin-contest-entry-results ul.links {
  padding-left: 1em;
}
body.bootstrap table.contest-entity-admin-contest-entry-results ul.links.judging {
  list-style: none outside none;
  padding: 0;
}
body.bootstrap table.contest-entity-admin-contest-entry-results ul.links.inline,
body.bootstrap table.contest-entity-admin-contest-entry-results ul.links.inline li {
  display: block;
  float: left;
  list-style: none outside none;
  margin: 0;
  padding: 0 8px 0 0;
}
/* Entry 'view' link - loading progress
   @see Drupal.behaviors.contest_entity_judging.rowToggle() */
body.bootstrap table.contest-entity-admin-contest-entry-results td ul.links.inline li.view {
  position: relative;
}
body.bootstrap table.contest-entity-admin-contest-entry-results td ul.links.inline li.view a.progress-disabled {
  color: #777;
}
body.bootstrap table.contest-entity-admin-contest-entry-results td ul.links.inline li.view .ajax-progress-throbber {
  position: absolute;
  left: -30px;
  top: 0;
}
body.bootstrap table.contest-entity-admin-contest-entry-results fieldset.filters .form-control {
  width: auto;
}

/* Active table rows. */
body.bootstrap table.contest-entity-admin-contest-entry-results div.active,
body.bootstrap table.contest-entity-admin-contest-entry-results tr.active,
body.bootstrap table.contest-entity-admin-contest-entry-results > tbody > tr.active,
body.bootstrap table.contest-entity-admin-contest-entry-results > tbody > tr.active > td {
  background-color: #f8fff0;
  border: 0;
  color: inherit;
}
body.bootstrap table.contest-entity-admin-contest-entry-results > tbody > tr.active.no-border > td {
  background-color: #dff0d8;
  border-top: 1px solid #ddd;
}
body.bootstrap table.contest-entity-admin-contest-entry-results div.active {
  padding: 1em;
  position: relative;
}
body.bootstrap table.contest-entity-admin-contest-entry-results tr.active {
  border-bottom: solid 1px #bebfb9;
}

/* Manage Judges form. */
form#contest-entity-judging-form-judges .form-item label {
  display: block;
}
form#contest-entity-judging-form-judges button.form-submit {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 1em;
}

/* Judging round assignment form. */
form.judge-assignment .control-wrapper {
  margin: 2em 0 0 0;
  width: 55%;
}
form.judge-assignment .progress-wrapper {
  clear: both;
  margin: 1em 0;
  width: 100%;
}
form.judge-assignment .form-group {
  margin: 1.2em 0;
}
form.judge-assignment p {
 margin: 1.2em 0; 
}
form.judge-assignment .form-control {
  width: auto;
}
form.judge-assignment .form-item:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
form.judge-assignment label {
  float: left;
  font-weight: normal;
}
form.judge-assignment label .form-required {
  color: red;
}
form.judge-assignment select,
form.judge-assignment input.form-text,
form.judge-assignment input.form-file {
  float: right;
}
form.judge-assignment input.form-file {
  width: 280px;
  height: auto;
  padding: 4px 2px;
}
form.judge-assignment p.help-block {
  clear: left;
  width: 50%;
  margin-top: 1em;
  font-size: 13px;
}
form.judge-assignment #bulk-confirmation,
form.judge-assignment .confirmation-actions {
  display: none;
}

/* Score details link + AJAX'd table. */
table.contest-entity-admin-contest-entry-results a.judging-score-detail {
  position: relative;
}
table.contest-entity-admin-contest-entry-results a.judging-score-detail span.data {
  display: none;
}
table.contest-entity-admin-contest-entry-results a.judging-score-detail span.scores {
  background: #fff;
  border: solid 1px #bbb;
  color: #333;
  display: none;
  margin: 21px 0 0 0;
  padding: 14px;
  position: absolute;
  left: -230px;
  top: 0;
  width: 750px;
  z-index: 200;
}
table.contest-entity-admin-contest-entry-results a.judging-score-detail span.scores * {
  color: #333;
}
table.contest-entity-admin-contest-entry-results a.judging-score-detail span.scores span.close {
  margin: 6px 8px 0 0;
  position: absolute;
  right: 0;
  top: 0;
}
table.contest-entity-admin-contest-entry-results table.judging-score-detail {
  border-bottom: solid 1px #ddd;
  border-top: solid 1px #ddd;
  margin: 6px 0 0 0;
}
table.contest-entity-admin-contest-entry-results table.judging-score-detail tr.judge-div {
  border-top: solid 1px #ddd;
}
table.contest-entity-admin-contest-entry-results table.judging-score-detail tr.average {
  border-top: solid 1px #ddd;
}
table.contest-entity-admin-contest-entry-results table.judging-score-detail th,
table.contest-entity-admin-contest-entry-results table.judging-score-detail td {
  padding: 2px 4px;
  white-space: nowrap;
}
table.contest-entity-admin-contest-entry-results table.judging-score-detail th:nth-child(even),
table.contest-entity-admin-contest-entry-results table.judging-score-detail td:nth-child(even) {
  background: #f9f9f9;
}
table.contest-entity-admin-contest-entry-results table.judging-score-detail th.right,
table.contest-entity-admin-contest-entry-results table.judging-score-detail td.right {
  text-align: right;
}

/* Entry detail fieldsets (top). */
table.contest-entity-admin-contest-entry-results .entry-fieldsets {
  border-bottom: solid 1px #eee;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}
table.contest-entity-admin-contest-entry-results fieldset {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}
table.contest-entity-admin-contest-entry-results fieldset.collapsible.expanded {
  position: static;
}
table.contest-entity-admin-contest-entry-results fieldset legend a.fieldset-title {
  border-right: 1px solid #ccc;
  display: block;
  padding: 0 1em;
}
table.contest-entity-admin-contest-entry-results fieldset.first legend a.fieldset-title {
  padding-left: 0;
}
table.contest-entity-admin-contest-entry-results div.entry-fieldsets fieldset:last-of-type legend a.fieldset-title {
  border-right: none;
}
table.contest-entity-admin-contest-entry-results fieldset legend a.fieldset-title.expanded {
  color: #333;
}
table.contest-entity-admin-contest-entry-results fieldset legend span.summary {
  display: none;
}
table.contest-entity-admin-contest-entry-results fieldset .fieldset-wrapper {
  display: block;
  margin-top: 8px !important;
  margin-bottom: 20px !important;
}
/* When expanded, style fieldset content like a modal. */
table.contest-entity-admin-contest-entry-results fieldset.collapsible.expanded .fieldset-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.5);
}
table.contest-entity-admin-contest-entry-results fieldset .fieldset-wrapper a.close-fieldset {
  background-image: url('close.png') !important;
  background-size: 20px !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  overflow: hidden !important;
  text-align: left !important;
  color: transparent !important;
  position: relative !important;
  top: 24px !important;
  right: 24px !important;
  margin: -1.4em -20px !important;
  display: block !important;
  float: right !important;
}
/* @see contest_entity_judging_preprocess_fieldset() */
table.contest-entity-admin-contest-entry-results fieldset .fieldset-wrapper .fieldset-content {
  padding: 1em;
}

/* Judging log table. */
table.contest-entity-admin-contest-entry-results table.judging-history {
  margin: 0;
  border: solid 1px #ddd;
  background-color: #fff;
}
table.contest-entity-admin-contest-entry-results table.judging-history tr {
  border: 0;
}
table.contest-entity-admin-contest-entry-results table.judging-history th,
table.contest-entity-admin-contest-entry-results table.judging-history td {
  padding: 3px 8px;
}
table.contest-entity-admin-contest-entry-results table.judging-history th {
  background: #f3f4ee;
}

/* Other content fields in fieldset
   Note: fieldset.entry-fields was built in TTD context.
   @see teendrive365_ui_preprocess_contest_entity_contest_entry(),
     contest-entry.tpl.php
*/
table.contest-entity-admin-contest-entry-results .active fieldset.entry-fields .fieldset-wrapper {
  padding: 1em;
}
table.contest-entity-admin-contest-entry-results .active fieldset.entry-fields .field {
  
}
table.contest-entity-admin-contest-entry-results .active fieldset.entry-fields .field .field-label {
  display: inline-block;
  width: 120px;
}
table.contest-entity-admin-contest-entry-results .active .entry-fields .field .field-value {
  
}
/* YSC version - fields from $user
   @see ysc_ui_preprocess_contest_entity_contest_entry()
*/
table.contest-entity-admin-contest-entry-results .active fieldset.about-you {
  white-space: normal;
}
table.contest-entity-admin-contest-entry-results .active fieldset.about-you .field {
  margin-top: 1em;
}
table.contest-entity-admin-contest-entry-results .active fieldset.about-you .field:first-child {
  margin-top: 0;
}
table.contest-entity-admin-contest-entry-results .active fieldset.about-you .field .field-label {
  font-weight: bold;
}


/* Entry detail links (left). */
table.contest-entity-admin-contest-entry-results ul.links.judging {
  border-top: none;
  margin: 0 0 1em 0;
}
table.contest-entity-admin-contest-entry-results ul.links.judging li {
  background: #8DA66D;
  border: none;
  display: block;
  padding: 7px 10px;
  margin: 0;
  color: #fff;
  font-size: 1em;
  border-top: 1px solid #C3CBBB;
}
table.contest-entity-admin-contest-entry-results ul.links.judging li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: none;
}
table.contest-entity-admin-contest-entry-results ul.links.judging li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
table.contest-entity-admin-contest-entry-results ul.links.judging li:hover { background: #74954B; }
table.contest-entity-admin-contest-entry-results ul.links.judging a {
  color: #fff;
  display: block;
}
table.contest-entity-admin-contest-entry-results a.cancel {
  margin-left: 19px;
  color: #777;
}
table.contest-entity-admin-contest-entry-results a.cancel {
  margin-left: 19px;
  color: #777;
}

/* Any "main" entry content item e.g. YouTube video */
table.contest-entity-admin-contest-entry-results .active .entry-main-content {
  margin-bottom: 20px;
}

/* Judging scoring/confirmation forms. */
table.contest-entity-admin-contest-entry-results .judging-form-intro,
table.contest-entity-admin-contest-entry-results .judging-form {
  white-space: normal;
  padding-right: 30px;
}
table.contest-entity-admin-contest-entry-results .judging-form form .form-item label .form-required {
  color: red;
}
table.contest-entity-admin-contest-entry-results form.confirmation {
  margin-bottom: 1em;
}
table.contest-entity-admin-contest-entry-results form.confirmation h2 {
  color: #333;
}
table.contest-entity-admin-contest-entry-results form.confirmation .grippie {
  display: none;
}

fieldset.filters {
  border-color: #bbb;
}
fieldset.filters legend.panel-heading {
  background-color: #ddd;
  border-color: #bbb;
}

ul.nav-tabs li a {
  font-size: 15px;
  font-weight: normal;
}